name: Generate repo

on:
  schedule:
    - cron: "0 6,18 * * *"
  workflow_dispatch:

jobs:
  generate-repo:
    runs-on:
      - self-hosted-ghr
      - size-l-x64
    permissions:
      contents: write
    steps:
      - name: Checkout local repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Checkout xatu-cbt repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: "ethpandaops/xatu-cbt"
          path: "xatu-cbt"
      - name: Setup Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: '1.25'
      - name: Setup Docker
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
      - name: Setup xatu-cbt and spin up infrastructure
        run: |
          cd xatu-cbt
          cp example.env .env
          go run ./cmd/xatu-cbt infra start --run-migrations
      - name: Go to root directory
        run: cd ..
      - name: Run generate-schema.sh for SCHEMA.md
        run: ./generate-schema.sh
      - name: Run generate-schema.sh for SCHEMA.hugo.md
        env:
          MODE: hugo
          SCHEMA: SCHEMA.hugo.md
        run: ./generate-schema.sh
      - name: Run generate-schema.sh for SCHEMA.docusaurus.md
        env:
          MODE: docusaurus
          SCHEMA: SCHEMA.docusaurus.md
        run: ./generate-schema.sh
      # - name: Run generate-schema.sh for SCHEMA.all.md
      #   env:
      #     MODE: all
      #     SCHEMA: SCHEMA.all.md
      #   run: ./generate-schema.sh
      - name: Run generate-readme.sh for README.md
        run: ./generate-readme.sh
      - name: Run generate-readme.sh for README.hugo.md
        env:
          MODE: hugo
          README: README.hugo.md
        run: ./generate-readme.sh
      - name: Run generate-readme.sh for README.docusaurus.md
        env:
          MODE: docusaurus
          README: README.docusaurus.md
        run: ./generate-readme.sh
      # - name: Run generate-bigquery.sh
      #   run: ./generate-bigquery.sh
      - name: Run generate-llmstxt.sh
        run: ./generate-llmstxt.sh
      - name: Cleanup before commit
        run: |
          cd xatu-cbt
          go run ./cmd/xatu-cbt infra teardown
          cd ..
          rm -rf xatu-cbt
      - name: Git diff
        run: |
          git diff --exit-code || echo "No changes to commit"
      - name: Commit changes
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add -A
          git commit -m "Update schema" || echo "No changes to commit"
          git push
      - name: Trigger deploy hook
        run: |
          curl -X POST "${{ secrets.HOMEPAGE_HOOK_URL }}"
